*.swp
.DS_Store
config/*.sphinx.conf
config/database.yml
coverage
coverage.data
db/backup/**
db/seeds.rb
db/*.sqlite3
doc/api
doc/app
log/*
scratch_directory
tmp/*
tmp/**/*
public/stylesheets/compiled/*
