/* line 4, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* @import blueprint/modules/scaffolding.sass */
/* line 1, ../../../app/stylesheets/partials/_errors.sass */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

/* line 5, ../../../app/stylesheets/partials/_errors.sass */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

/* line 9, ../../../app/stylesheets/partials/_errors.sass */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

/* line 13, ../../../app/stylesheets/partials/_errors.sass */
.fieldWithErrors {
  display: inline; }

/* line 16, ../../../app/stylesheets/partials/_errors.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 24, ../../../app/stylesheets/partials/_errors.sass */
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  /* line 33, ../../../app/stylesheets/partials/_errors.sass */
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  /* line 38, ../../../app/stylesheets/partials/_errors.sass */
  #errorExplanation ul {
    margin: 2px 24px; }
    /* line 41, ../../../app/stylesheets/partials/_errors.sass */
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* line 1, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic {
  margin: 0;
  padding: 0; }
  /* line 5, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
    margin: 0;
    padding: 0; }
  /* line 9, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset {
    border: 0; }
  /* line 12, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic em, form.formtastic strong {
    font-style: normal;
    font-weight: normal; }
  /* line 16, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic ol, form.formtastic ul {
    list-style: none; }
  /* line 19, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic abbr, form.formtastic acronym {
    border: 0;
    font-variant: normal; }
  /* line 23, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  /* line 28, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-size: 100%; }
  /* line 31, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic legend {
    color: #000; }
  /* line 34, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset {
    display: inline-block; }
    /* line 38, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset.buttons {
      padding-left: 25%; }
    /* line 42, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset.buttons li {
      float: left;
      padding-right: 0.5em; }
    /* line 46, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

/* line 54, ../../../app/stylesheets/partials/_formtastic.sass */
html[xmlns] form.formtastic fieldset {
  display: block; }

/* line 58, ../../../app/stylesheets/partials/_formtastic.sass */
* html form.formtastic fieldset {
  height: 1%; }

/* line 62, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li {
  margin-bottom: 1.5em;
  display: inline-block; }
  /* line 66, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* line 74, ../../../app/stylesheets/partials/_formtastic.sass */
html[xmlns] form.formtastic fieldset ol li {
  display: block; }

/* line 78, ../../../app/stylesheets/partials/_formtastic.sass */
* html form.formtastic fieldset ol li {
  height: 1%; }

/* line 84, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em; }
/* line 90, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li li label {
  line-height: 100%;
  padding-top: 0; }
  /* line 94, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li li label input {
    line-height: 100%;
    vertical-align: middle;
    margin-top: -0.1em; }
/* line 99, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li fieldset {
  position: relative; }
  /* line 102, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li fieldset legend {
    position: absolute;
    width: 25%;
    padding-top: 0.1em; }
    /* line 107, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset ol li fieldset legend span {
      position: absolute; }
  /* line 110, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li fieldset ol {
    float: left;
    width: 74%;
    margin: 0;
    padding: 0 0 0 25%; }
    /* line 116, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset ol li fieldset ol li {
      padding: 0;
      border: 0; }
/* line 121, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%; }
/* line 125, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%; }
/* line 129, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square; }
  /* line 134, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li ul.errors li {
    padding: 0;
    border: none;
    display: list-item; }
/* line 139, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
  width: 74%; }
/* line 142, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.hidden {
  display: none; }
/* line 145, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
  width: auto; }
  /* line 149, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li.boolean label input {
    margin: 0 0.5em 0 0.2em; }
/* line 152, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.radio fieldset ol, form.formtastic fieldset ol li.check_boxes fieldset ol {
  margin-bottom: -0.6em; }
  /* line 155, ../../../app/stylesheets/partials/_formtastic.sass */
  form.formtastic fieldset ol li.radio fieldset ol li, form.formtastic fieldset ol li.check_boxes fieldset ol li {
    margin: 0.1em 0 0.5em 0; }
    /* line 158, ../../../app/stylesheets/partials/_formtastic.sass */
    form.formtastic fieldset ol li.radio fieldset ol li label, form.formtastic fieldset ol li.check_boxes fieldset ol li label {
      float: none;
      width: 100%; }
      /* line 162, ../../../app/stylesheets/partials/_formtastic.sass */
      form.formtastic fieldset ol li.radio fieldset ol li label input, form.formtastic fieldset ol li.check_boxes fieldset ol li label input {
        margin-right: 0.2em; }
/* line 165, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li, form.formtastic fieldset ol li.time fieldset ol li, form.formtastic fieldset ol li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0; }
/* line 170, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li label, form.formtastic fieldset ol li.time fieldset ol li label, form.formtastic fieldset ol li.datetime fieldset ol li label {
  display: none; }
/* line 173, ../../../app/stylesheets/partials/_formtastic.sass */
form.formtastic fieldset ol li.date fieldset ol li label input, form.formtastic fieldset ol li.time fieldset ol li label input, form.formtastic fieldset ol li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0; }

/* line 2, ../../../app/stylesheets/partials/_formtastic_changes.sass */
form.formtastic {
  width: 500px;
  background-color: #eee;
  padding: 0px 5px; }
  /* line 9, ../../../app/stylesheets/partials/_formtastic_changes.sass */
  form.formtastic fieldset legend {
    font-size: 1.4em;
    color: #999;
    padding-bottom: 0.5em; }
  /* line 15, ../../../app/stylesheets/partials/_formtastic_changes.sass */
  form.formtastic fieldset ol li {
    margin-bottom: 0.5em; }
    /* line 18, ../../../app/stylesheets/partials/_formtastic_changes.sass */
    form.formtastic fieldset ol li label {
      width: 10em;
      text-align: right;
      padding-right: 1em; }
    /* line 22, ../../../app/stylesheets/partials/_formtastic_changes.sass */
    form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
      width: auto; }
  /* line 24, ../../../app/stylesheets/partials/_formtastic_changes.sass */
  form.formtastic fieldset.buttons {
    border: none;
    padding-left: 11em; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 75%; }
  /* line 53, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h1 {
    font-weight: normal;
    color: #555555;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    /* line 58, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp h1 img {
      margin: 0; }
  /* line 60, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 {
    font-weight: normal;
    color: #555555;
    font-size: 2em;
    margin-bottom: 0.75em; }
  /* line 64, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h3 {
    font-weight: normal;
    color: #555555;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  /* line 69, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h4 {
    font-weight: normal;
    color: #555555;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  /* line 74, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h5 {
    font-weight: normal;
    color: #555555;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  /* line 79, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h6 {
    font-weight: normal;
    color: #555555;
    font-size: 1em;
    font-weight: bold; }
  /* line 83, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  /* line 85, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp p {
    margin: 0 0 1.5em; }
    /* line 87, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    /* line 91, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  /* line 95, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    /* line 12, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:visited {
      color: #000066; }
    /* line 15, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:focus {
      color: black; }
    /* line 18, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:hover {
      color: black; }
    /* line 21, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
    body.bp a:active {
      color: #cc0099; }
  /* line 98, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  /* line 102, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp strong {
    font-weight: bold; }
  /* line 104, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp em {
    font-style: italic; }
  /* line 106, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  /* line 109, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp sup, body.bp sub {
    line-height: 0; }
  /* line 111, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  /* line 113, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  /* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp del {
    color: #666; }
  /* line 118, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  /* line 121, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  /* line 123, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  /* line 125, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  /* line 128, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  /* line 131, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dl {
    margin: 0 0 1.5em 0; }
    /* line 133, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
    body.bp dl dt {
      font-weight: bold; }
  /* line 135, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp dd {
    margin-left: 1.5em; }
  /* line 137, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  /* line 140, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th {
    font-weight: bold; }
  /* line 142, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp thead th {
    background: #c3d9ff; }
  /* line 144, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  /* line 146, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tr.even td {
    background: #e5ecf9; }
  /* line 148, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp tfoot {
    font-style: italic; }
  /* line 150, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp caption {
    background: #eee; }
  /* line 152, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .quiet {
    color: #999999; }
  /* line 154, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  body.bp .loud {
    color: #444444; }

/* line 20, ../../../app/stylesheets/screen.sass */
body.bp #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.bp #container {
    display: block; }
/* line 22, ../../../app/stylesheets/screen.sass */
body.bp #header, body.bp #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #eee; }
  /* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.bp #header, * html body.bp #footer {
    overflow-x: hidden; }
  /* line 25, ../../../app/stylesheets/screen.sass */
  body.bp #header h1, body.bp #footer h1 {
    width: 470px;
    display: inline-block;
    padding-top: 10px; }
/* line 29, ../../../app/stylesheets/screen.sass */
body.bp #nav-bar {
  float: right; }
/* line 32, ../../../app/stylesheets/screen.sass */
body.bp #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  background-color: #ffe; }
  /* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.bp #content {
    overflow-x: hidden; }
/* line 36, ../../../app/stylesheets/screen.sass */
body.bp #sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  background-color: #cde; }
  /* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html body.bp #sidebar {
    overflow-x: hidden; }
/* line 41, ../../../app/stylesheets/screen.sass */
body.bp .nav-list {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  font-size: 1.5em; }
  /* line 5, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  body.bp .nav-list {
    display: block; }
  /* line 50, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
  body.bp .nav-list li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    /* line 40, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    body.bp .nav-list li.first {
      padding-left: 0px; }
    /* line 42, ../../../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.14/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    body.bp .nav-list li.last {
      padding-right: 0px; }
