html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

/* @import blueprint/modules/scaffolding.sass */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

form.formtastic {
  margin: 0;
  padding: 0; }
  form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
    margin: 0;
    padding: 0; }
  form.formtastic fieldset {
    border: 0; }
  form.formtastic em, form.formtastic strong {
    font-style: normal;
    font-weight: normal; }
  form.formtastic ol, form.formtastic ul {
    list-style: none; }
  form.formtastic abbr, form.formtastic acronym {
    border: 0;
    font-variant: normal; }
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-size: 100%; }
  form.formtastic legend {
    color: #000; }
  form.formtastic fieldset {
    display: inline-block; }
    form.formtastic fieldset.buttons {
      padding-left: 25%; }
    form.formtastic fieldset.buttons li {
      float: left;
      padding-right: 0.5em; }
    form.formtastic fieldset:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

html[xmlns] form.formtastic fieldset {
  display: block; }

* html form.formtastic fieldset {
  height: 1%; }

form.formtastic fieldset ol li {
  margin-bottom: 1.5em;
  display: inline-block; }
  form.formtastic fieldset ol li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

html[xmlns] form.formtastic fieldset ol li {
  display: block; }

* html form.formtastic fieldset ol li {
  height: 1%; }

form.formtastic fieldset ol li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em; }
form.formtastic fieldset ol li li label {
  line-height: 100%;
  padding-top: 0; }
  form.formtastic fieldset ol li li label input {
    line-height: 100%;
    vertical-align: middle;
    margin-top: -0.1em; }
form.formtastic fieldset ol li fieldset {
  position: relative; }
  form.formtastic fieldset ol li fieldset legend {
    position: absolute;
    width: 25%;
    padding-top: 0.1em; }
    form.formtastic fieldset ol li fieldset legend span {
      position: absolute; }
  form.formtastic fieldset ol li fieldset ol {
    float: left;
    width: 74%;
    margin: 0;
    padding: 0 0 0 25%; }
    form.formtastic fieldset ol li fieldset ol li {
      padding: 0;
      border: 0; }
form.formtastic fieldset ol li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%; }
form.formtastic fieldset ol li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%; }
form.formtastic fieldset ol li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square; }
  form.formtastic fieldset ol li ul.errors li {
    padding: 0;
    border: none;
    display: list-item; }
form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
  width: 74%; }
form.formtastic fieldset ol li.hidden {
  display: none; }
form.formtastic fieldset ol li.boolean label {
  padding-left: 25%;
  width: auto; }
  form.formtastic fieldset ol li.boolean label input {
    margin: 0 0.5em 0 0.2em; }
form.formtastic fieldset ol li.radio fieldset ol, form.formtastic fieldset ol li.check_boxes fieldset ol {
  margin-bottom: -0.6em; }
  form.formtastic fieldset ol li.radio fieldset ol li, form.formtastic fieldset ol li.check_boxes fieldset ol li {
    margin: 0.1em 0 0.5em 0; }
    form.formtastic fieldset ol li.radio fieldset ol li label, form.formtastic fieldset ol li.check_boxes fieldset ol li label {
      float: none;
      width: 100%; }
      form.formtastic fieldset ol li.radio fieldset ol li label input, form.formtastic fieldset ol li.check_boxes fieldset ol li label input {
        margin-right: 0.2em; }
form.formtastic fieldset ol li.date fieldset ol li, form.formtastic fieldset ol li.time fieldset ol li, form.formtastic fieldset ol li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0; }
form.formtastic fieldset ol li.date fieldset ol li label, form.formtastic fieldset ol li.time fieldset ol li label, form.formtastic fieldset ol li.datetime fieldset ol li label {
  display: none; }
form.formtastic fieldset ol li.date fieldset ol li label input, form.formtastic fieldset ol li.time fieldset ol li label input, form.formtastic fieldset ol li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0; }

form.formtastic {
  width: 500px;
  background-color: #eee;
  padding: 0px 5px; }
  form.formtastic fieldset legend {
    font-size: 1.4em;
    color: #999;
    padding-bottom: 0.5em; }
  form.formtastic fieldset ol li {
    margin-bottom: 0.5em; }
    form.formtastic fieldset ol li label {
      width: 10em;
      text-align: right;
      padding-right: 1em; }
    form.formtastic fieldset ol li.string input, form.formtastic fieldset ol li.numeric input, form.formtastic fieldset ol li.text textarea {
      width: auto; }
  form.formtastic fieldset.buttons {
    border: none;
    padding-left: 11em; }

body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #445f7a;
  font-size: 75%; }
  body.bp h1 {
    font-weight: normal;
    color: #334e69;
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em; }
    body.bp h1 img {
      margin: 0; }
  body.bp h2 {
    font-weight: normal;
    color: #334e69;
    font-size: 2em;
    margin-bottom: 0.75em; }
  body.bp h3 {
    font-weight: normal;
    color: #334e69;
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em; }
  body.bp h4 {
    font-weight: normal;
    color: #334e69;
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em; }
  body.bp h5 {
    font-weight: normal;
    color: #334e69;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em; }
  body.bp h6 {
    font-weight: normal;
    color: #334e69;
    font-size: 1em;
    font-weight: bold; }
  body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
    margin: 0; }
  body.bp p {
    margin: 0 0 1.5em; }
    body.bp p img.left {
      display: inline;
      float: left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0; }
    body.bp p img.right {
      display: inline;
      float: right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0; }
  body.bp a {
    text-decoration: underline;
    color: #000099; }
    body.bp a:visited {
      color: #000066; }
    body.bp a:focus {
      color: black; }
    body.bp a:hover {
      color: black; }
    body.bp a:active {
      color: #cc0099; }
  body.bp blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  body.bp strong {
    font-weight: bold; }
  body.bp em {
    font-style: italic; }
  body.bp dfn {
    font-style: italic;
    font-weight: bold; }
  body.bp sup, body.bp sub {
    line-height: 0; }
  body.bp abbr, body.bp acronym {
    border-bottom: 1px dotted #666; }
  body.bp address {
    margin: 0 0 1.5em;
    font-style: italic; }
  body.bp del {
    color: #666; }
  body.bp pre {
    margin: 1.5em 0;
    white-space: pre; }
  body.bp pre, body.bp code, body.bp tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5; }
  body.bp li ul, body.bp li ol {
    margin: 0 1.5em; }
  body.bp ul {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: disc; }
  body.bp ol {
    margin: 0 1.5em 1.5em 1.5em;
    list-style-type: decimal; }
  body.bp dl {
    margin: 0 0 1.5em 0; }
    body.bp dl dt {
      font-weight: bold; }
  body.bp dd {
    margin-left: 1.5em; }
  body.bp table {
    margin-bottom: 1.4em;
    width: 100%; }
  body.bp th {
    font-weight: bold; }
  body.bp thead th {
    background: #c3d9ff; }
  body.bp th, body.bp td, body.bp caption {
    padding: 4px 10px 4px 5px; }
  body.bp tr.even td {
    background: #e5ecf9; }
  body.bp tfoot {
    font-style: italic; }
  body.bp caption {
    background: #eee; }
  body.bp .quiet {
    color: #7792ad; }
  body.bp .loud {
    color: #223d58; }

body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  color: #7392b1; }
body.bp #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  body.bp #container {
    display: block; }
body.bp #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #fff; }
  * html body.bp #header {
    overflow-x: hidden; }
  body.bp #header h1 {
    display: inline-block;
    float: right;
    padding-top: 10px;
    text-align: right;
    font-style: italic;
    font-size: 2.25em; }
body.bp #header {
  border-bottom: 1px solid #557799; }
body.bp #nav-bar {
  float: left; }
body.bp #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  background-color: #ffe; }
  * html body.bp #content {
    overflow-x: hidden; }
body.bp #sidebar {
  margin-top: 10px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  background-color: #fff; }
  * html body.bp #sidebar {
    overflow-x: hidden; }
body.bp .nav-list {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 18px;
  margin-bottom: -1px;
  margin-left: 10px; }
  body.bp .nav-list {
    display: block; }
  body.bp .nav-list li {
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    body.bp .nav-list li.first {
      padding-left: 0px; }
    body.bp .nav-list li.last {
      padding-right: 0px; }
  body.bp .nav-list li {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #cbd6e2;
    border: 1px solid #fff;
    border-bottom: none;
    padding: 5px 10px 0 10px; }
    body.bp .nav-list li:hover {
      background-color: #cebba8; }
  body.bp .nav-list li.active {
    border: 1px solid #557799;
    border-bottom: 1px solid #fff;
    background-color: #fff; }
  body.bp .nav-list a {
    text-decoration: none; }
