@import blueprint/reset.sass
@import partials/base.sass

@import blueprint
@import compass/utilities.sass
/*@import blueprint/modules/scaffolding.sass*/

@import partials/errors.sass
@import partials/formtastic.sass
@import partials/formtastic_changes.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

+blueprint-typography("body.bp")

!half_width = !blueprint_grid_columns / 2

body.bp
  #container
    +container
  #header, #footer
    +column(!blueprint_grid_columns)
    background-color: #eee
    h1
      +span(!half_width)
      display: inline-block
      padding-top: 10px
  #nav-bar
    float: right
    
  #content
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    +column(!content_columns)
    background-color: #ffe
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns, true)
    background-color: #cde
    
  .nav-list
    +horizontal-list()
    font-size: 1.5em
    
