@import blueprint/reset.sass

@import partials/theme.sass
@import partials/base.sass

@import blueprint
@import compass/layout.sass
@import compass/utilities.sass
/*@import blueprint/modules/scaffolding.sass*/

@import partials/errors.sass
@import partials/formtastic.sass
@import partials/formtastic_changes.sass
@import partials/utilities.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

+blueprint-typography("body.bp")

!half_width = !blueprint_grid_columns / 2

body.bp
  h1, h2, h3, h4, h5, h6
    color= !light_base_color
  #container
    +container
  #header
    +column(!blueprint_grid_columns)
    background-color: #fff
    h1
      display: inline-block
      float: right
      padding-top: 10px
      text-align: right
      font-style: italic
      font-size: 2.25em
  #header
    border-bottom= 1px "solid" !base_color

  #nav-bar
    float: left
    
  #content
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    +column(!content_columns)
    background-color: #ffe
  #sidebar
    margin-top: 10px
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns, true)
    background-color: #fff
    
  .nav-list
    +horizontal-list()
    font-size: 1.5em
    font-weight: bold
    padding-top: 18px
    margin-bottom: -1px
    margin-left: 10px
    li
      +border-top-radius(15px)
      background-color= !lightest_base_color
      border: 1px solid #fff
      border-bottom: none
      padding: 5px 10px 0 10px
      &:hover
        background-color= !light_complementary_color
    li.active
      border= 1px "solid" !base_color 
      border-bottom: 1px solid #fff
      background-color: #fff      
    a
      text-decoration: none
