- semantic_form_for :post, @post, :html => { :class => 'x-ujs', :id => 'post_form'} do |form|
  = form.error_messages
  - form.inputs do
    = form.input :title
    = form.input :body
  - form.buttons do
    = form.commit_button
