%div[post]
  .date= post.created_date

  .contents
    .title
      %h2= link_to post.title, post_path(post.id)
    .body
      = post.body
    
    - if admin?
      =link_to "edit", edit_post_path(post.id)
